version: '3.5'

services:
  app:
    build:
      context: ./
      dockerfile: dev.Dockerfile
    image: jami_dev
    env_file:
      - .env
    environment:
      - DATABASE_URL=postgres://postgres:postgres@db:5432/postgres
      - PORT=3000
      - NODE_ENV=development
    volumes:
      - ./:/usr/src/app
    ports:
      - 3000:3000
    container_name: jami_dev
  db:
    image: postgres:13.1
    environment:
      - PGDATA=/data
      - POSTGRES_PASSWORD=postgres
    ports:
      - 5432:5432
    volumes:
      - pg_data:/data
    container_name: jami_db

volumes:
  pg_data:
